*{
    margin:0;
    padding:0;
}


.container{
    margin:0 auto;
}

.tasks{
    display:flex;
    justify-content:center;
    gap:10px;
}

.task {
    padding:20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background:green;
}

.task:hover {
    background: red;
}

.task:hover .box{
    color:green;
}


.box{
    color:red;
}
